In [1]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [3]:
y_cols = {
    'series_id': np.uint32,
    'group_id': np.uint32,
    'surface': str
}

In [4]:
y_trn = pd.read_csv('./data/y_train.csv', usecols=y_cols.keys(), dtype=y_cols)

In [7]:
enc = LabelEncoder()
y_enc = enc.fit_transform(y_trn['surface'])

In [9]:
y_enc

(3810,)

In [5]:
y_trn.s

      series_id  group_id        surface
0             0        13  fine_concrete
1             1        31       concrete
2             2        20       concrete
3             3        31       concrete
4             4        22     soft_tiles
...         ...       ...            ...
3805       3805        55          tiled
3806       3806        67           wood
3807       3807        48  fine_concrete
3808       3808        54          tiled
3809       3809        56       soft_pvc

[3810 rows x 3 columns]